<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:market.properties"/>
<bean id="productBean1"
      class="springCoreApp.Fruit">
</bean>
     <bean id="productBean2"
           class="springCoreApp.Vegetables">
     </bean>
           <bean id="productBean3"
                 class="springCoreApp.Meat">
           </bean>

    <bean id="marketBean"
          class="springCoreApp.Market">
        <property name="productList">
                <list>
                    <ref bean="productBean1"/>
                    <ref bean="productBean2"/>
                    <ref bean="productBean3"/>
                </list>
        </property>
        <property name="name" value="${market.name}"/>
        <property name="address" value="${market.address}"/>
    </bean>

</beans>